<% layout("/layouts/boilerplate") %>
<body>
    <div class="desc-edit">
        <h2>Edit Page</h2>
        <form method="post" action="/listings/<%= x._id %>?_method=PUT">
            <label for="title">Enter Listing Title</label>
            <input type="text" name="listing[title]" id="title" value="<%= x.title %>">
            <br><br>
            <label for="description">Description</label><br>
            <textarea name="listing[description]" id="description" cols="30" rows="10"><%= x.description %></textarea>
            <br><br>
            <label for="img">Enter image Link</label>
            <input type="text" name="listing[img]" id="img"  value="<%= x.image %>">
            <label for="price">Enter Price</label>
            <input type="number" name="listing[price]" id="price" value="<%= x.price %>">
            <br><br>
            <label for="location">Enter location</label>
            <input type="text" name="listing[location]" id="location" value="<%= x.location %>">
            <label for="country">Enter Country</label>
            <input type="text" name="listing[country]" id="country"  value="<%= x.country %>">
            <br><br>
            <button type="submit">Edit</button>
        </form>
    </div>
</body>
