<% layout("/layouts/boilerplate") %>
<body class="new-body">
    <div class="desc-edit desc-new">
        <div class="edit-heading only-edits"><h2>Edit Listing</h2></div>
        <form method="post" action="/listings/<%= x._id %>?_method=PUT" class="needs-validation" novalidate>
            <div class="title d-f">
                <label for="title" class="form-label">Enter Listing Title</label>
                <input type="text" name="listing[title]" id="title" value="<%= x.title %>" class="edit-data form-control" required>
            </div>
            <div class="description d-f">
                <label for="description" class="form-label">Description</label><br>
                <textarea name="listing[description]" id="description"  class="edit-data form-control" cols="70" rows="3" required><%= x.description %></textarea>
            </div>
            <div class="new-img">
                <label for="img" class="form-label">Enter image Link</label>
                <input type="text" name="listing[img]" id="img"  value="<%= x.image %>" class="edit-data form-control" required>
            </div>
            <div class="price-location">
                <div class="price-new d-b">
                    <label for="price" class="form-label">Enter Price</label>
                    <input type="number" name="listing[price]" id="price" value="<%= x.price %>" class="edit-data form-control"  required>
                </div>
                <div class="new-location d-b">
                    <label for="location" class="form-label">Enter location</label>
                    <input type="text" name="listing[location]" id="location" value="<%= x.location %>" class="edit-data form-control" required>
                </div>
            </div>                                
            <div class="new-country">
                <label for="country" class="form-label">Enter Country</label>
                <input type="text" name="listing[country]" id="country"  value="<%= x.country %>" class="edit-data form-control" required>
            </div>
            <div class="btn-new-page d-f">
                <button type="submit">Edit</button>
            </div>
        </form>
    </div>
    <script src="/js/script.js"></script>
</body>
