<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WnaderLust</title>
</head>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li><%=x.title %></li>
        <li><%=x.description %></li>
        <li>&#8377;<%=x.price.toLocaleString("en-IN") %></li>
        <li><%=x.location %></li>
        <li><%=x.country %></li>
    </ul>
</body>
</html>